@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-4">
    <h1 class="">EYSE</h1>
    <p class="lead fs-3">Aplicacion Web para el registro de Entrada y Salida de Equipos</p>
</div>

<div class="row mt-4 d-flex">
    <div class="col col-12 col-lg-6 d-inline-block">
        <center><img src="~/Imagenes/inventario.jpg" alt="Inventario" style="max-width:450px" /></center>
    </div>

    <div class="col col-12 col-lg-6 d-block text-center" >
        <h2> Detalle de registros Generales</h2>
        <p class="fs-4 mt-3 lead">Sistema de gestión de activos de TI. Control potente, integral y enriquecido en características de la infraestructura de TI a través de una interfaz intuitiva, basada en la web.</p>    
        <a class="btn btn-outline-success mt-3">Registros</a>
    </div>
</div>