@using EYSE.Models
@{
    Layout = "~/Views/Shared/_Layout_SinHeader.cshtml";
    ViewBag.Title = "Agregar Equipo";
}


@*<div class="container mb-3 d-flex justify-content-center">*@
<form id="formulario" class="needs-validation">
            <label for="exampleFormControlInput1" class="form-label lead">Equipo</label>
            <input type="text" class="form-control" id="Equipo" placeholder="Nombre del Equipo" name="equipo" required>

            <label for="exampleFormControlInput1" class="form-label lead">Descripcion</label>
            <input type="text" class="form-control mb-3" id="Descripcion" placeholder="Descripcion (Opcional)" name="descripcion">
            <button onclick="enviar()" class="btn btn-outline-success my-3">Crear Equipo</button>
</form>
@*</div>*@


@section Scripts{
    <script>
        const SoloTexto = /^[A-Za-zñÑ]+$/;
        const formulario = document.getElementById('formulario');

        formulario.addEventListener('submit', e => {
            e.preventDefault();
            let equipo = $("#Equipo").val()
            let descripcion = $("#Descripcion").val()

            if (!SoloTexto.test(equipo)) {
                console.log('formato no valido');
                $("#Equipo").addClass('is-invalid');

                return;
            } else {
                $("#Equipo").removeClass('is-invalid');
                $("#Equipo").addClass('is-valid');
                $("#Descripcion").removeClass('is-invalid');
                $("#Descripcion").addClass('is-valid');
            }

            $.post('@Url.Action("EnviarAgregarEquipo", "Equipos")', { equipo: equipo, descripcion: descripcion }, function (Response) { mensajeRespuesta(Response) });

        })


        function mensajeRespuesta(Respuesta) {
            setTimeout(function () {
                window.location.replace('@Url.Action("Index","Equipos")');
            },1000)

            console.log(Respuesta)
        }

    </script>
}