
@{
    ViewBag.Title = "Index";
}

<div class="container" style="min-width:400px">
    <center><h2 class="mt-3">Configuración General del Sistema</h2></center>
    <br>
    <div class="row">
        <div class="col-12 col-lg-4 my-3">
            <center><a href="@Url.Action("Index","Equipos")" class="btn btn-outline-success w-75 fs-4 lead">Equipos</a></center>
        </div>
        <div class="col-12 col-lg-4 my-3">
            <center><a href="@Url.Action("TecnicosIndex","Tecnicos")" class="btn btn-outline-success w-75 fs-4 lead">Personal</a></center>
        </div>
        <div class="col-12 col-lg-4 my-3">
            <center> <a href="@Url.Action("IndexMotivoIngreso","MotivosIngreso")" class="btn btn-outline-success w-75 fs-4 lead">Motivos de Ingreso</a></center>
        </div>
        <div class="col-12 col-lg-4 my-3">
            <center><a href="@Url.Action("DepartamentosIndex","Departamentos")" class="btn btn-outline-success w-75 fs-4 lead">Deparamentos</a></center>
        </div>

    </div>
</div>