
@{
    Layout = "~/Views/Shared/_Layout_SinHeader.cshtml";
    ViewBag.Title = "Agregar Tecnico";
}


    <form id="formulario" class="needs-validation" >

        <label for="exampleFormControlInput1" class="form-label lead">DNI</label>
        <input type="number" class="form-control shadow-sm" id="DNI" placeholder="DNI" name="DNI" required>

        <label for="exampleFormControlInput1" class="form-label lead">Apellido</label>
        <input type="text" class="form-control shadow-sm" id="Apellido" placeholder="Apellido" name="Apellido" required>

        <label for="exampleFormControlInput1" class="form-label lead">Nombre</label>
        <input type="text" class="form-control mb-3 shadow-sm" id="Nombre" placeholder="Nombre" name="Nombre" required>

        <button class="btn btn-outline-success my-3">Crear Tecnico</button>

    </form>


@section Scripts{
    <script>

        const SoloTexto =/^[a-zA-Z\sñáéíóúÁÉÍÓÚ]+$/;
        const formulario = document.getElementById('formulario');

        let Tecnico = {
            dni : "",
            apellido : "",
            nombre : ""
        }

        formulario.addEventListener("submit", (e) => {
            e.preventDefault();
            Tecnico.dni = $("#DNI").val()
            Tecnico.nombre = $("#Nombre").val()
            Tecnico.apellido = $("#Apellido").val()

            let valido = true;

            if (!SoloTexto.test(Tecnico.apellido)) {
                valido = false
                $("#Apellido").addClass('is-invalid');
            } else {
                $("#Apellido").removeClass('is-invalid');
                $("#Apellido").addClass('is-valid');
            }

            if (!SoloTexto.test(Tecnico.nombre)) {
                valido = false
                $("#Nombre").addClass('is-invalid');

            } else {
                $("#Nombre").removeClass('is-invalid');
                $("#Nombre").addClass('is-valid');
            }

            //console.log(JSON.stringify(Tecnico));
            if (valido) {
                $.post('@Url.Action("EnviarAgregarTecnico", "Tecnicos")', { TecnicoJson: JSON.stringify(Tecnico) }, function (Response) { mensajeRespuesta(Response) });
            }
        });


        function mensajeRespuesta(Respuesta) {
            setTimeout(function () {
                window.location.reload();
            },1000)

        }

    </script>
}