
@{
    Layout = "~/Views/Shared/_Layout_SinHeader.cshtml";
    ViewBag.Title = "AgregarDepartamento";
}


<form id="formulario" class="needs-validation">
    <label for="exampleFormControlInput1" class="form-label lead">Departamento</label>
    <input type="text" class="form-control mb-3" id="dpto" placeholder="Nombre del Departamento" name="departamento" required>

    <center><button class="btn btn-outline-success">Crear Deartamento</button></center>
</form>

@section Scripts{
    <script>

        $("#formulario").on("submit", (e) => {
            e.preventDefault();
            let Departamento = $("#dpto").val().trim();

            if (Departamento !== "" && Departamento !== null) {
                $("#dpto").removeClass("is-invalid")
                $("#dpto").addClass("is-valid")
                $.post('@Url.Action("EnviarAgregarDto","Departamentos")', { dpto: Departamento }, (Response) => { mensajeRespuesta(Response) })
            } else {
                $("#dpto").removeClass("is-valid")
                $("#dpto").addClass("is-invalid")
            }

        })

        function mensajeRespuesta(Response) {
            console.log(Response);
            if (Response == "Exito") {
                window.location.replace('@Url.Action("DepartamentosIndex","Departamentos")');
            }
        }

    </script>
} 

